
@{
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    ViewBag.Title = "Index";
}
<div class="container body-content" style="padding-top: 50px;">
    <h2>Chart</h2>

   <div class="row">
       <button type="button" id="chartBtn" class="btn btn-default">Crear gráfica</button>
   </div>


    <div id="grafica"></div>

    @section scripts
    {
        <script>
            $(document)
                .ready(function () {
                    $('#chartBtn')
                        .click(function () {
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("getChart")',
                                dataType: "json",
                                success: function (data) {
                                    var series = [
                                        {
                                            type: "pie",
                                            name: '',
                                            data: data
                                        }
                                    ];

                                    createChart("#grafica", "Sample PIE", series);
                                }
                            });
                        });
                });

            function createChart(chartcontainer, title, series) {
                $("#grafica")
                    .highcharts({
                        chart: {
                            type: 'pie'
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            enabled: true
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: series,
                        title: {
                            text: title
                        }
                    });
            }
        </script>
    }
</div>