
@{
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    ViewBag.Title = "Index";
}
<div class="container body-content" style="padding-top: 50px;">
    <h2>Chart</h2>


    <div id="grafica"></div>

    <script>
        $(function ($) {
            $('#grafica').highcharts({
                title: { text: 'Grafica de Riego' },
                xAxis: { categories: ['200', '201', '202'] },
                yAxis: { title: 'Porcentaje %' }, plotlines: [{ value: 0, width: 1, color: '#808080' }],
                tooltip: { valueSuffix: '%' },
                legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidht: 0 },
                series: [{ name: 'Riego', data: [25, 23, 22] }]
            });
        });
    </script>
</div>