
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}
<div class="container body-content" style="padding-top: 50px;">
    <h2>Index</h2>
    <h4>Display pie chart using Highcharts in Asp.net C#</h4>
    <button type="button" id="chartbtn">Ver gráfica</button>
    <br />
    <div>
        <div id="chartArea"></div>
    </div>

    @section scripts
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script>
            $(document)
                .ready(function () {

                    $('#chartbtn')
                        .click(function () {
                            $.ajax({
                                type: "GET",

                                url: '@Url.Action("GetChart")',

                                dataType: "json",
                                success: function (data) {

                                    var series = [
                                        {
                                            type: 'line',
                                            name: '',
                                            data: data,
                                            color: 'rgb(29,165,52)'
                                        }
                                    ];

                                    createChart("#chartArea", "Grafica de Riego", series);

                                }

                            });
                        });
                });

            function createChart(chartContainer, title, series) {

                $(chartContainer)
                    .highcharts({
                        chart: {
                            type: 'line'
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            enabled: true
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                    }
                                }
                            }
                        },
                        series: series,
                        title: {
                            text: title
                        }
                    });
            }


        </script>
    }
    
    
</div>